@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'report';
@import 'technologies';

body {
    background-color: $background-color;
}

* {
    font-family: 'Diplomata SC';
    
}

.main {
    background-color: $background-alternative-color;
    color: $font-color;
}

ul {
    background-color: $background-alternative-color;
    color: $font-alternative-color;
    display: inline-block;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

li {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    color: $background-alternative-color;
}

a {
    color: $accent-color;
}

img {
    margin-left: 2rem;
}
/* 
p {
    color: $font-color;
}
h1 {
    color: $font-color;
} */
.title {
    margin-left: 4em;
}

.container {
    display: inline-block;
    background-color: $background-alternative-color; 
}
.social a {
    background-color: $background-alternative-color;
    color: $accent-alternativ-color;
}

.header {
    display: inline-block;
}
