$font-color: #160f03;
$font-alternative-color: #fff;
$accent-color: #f5deb3;
$accent-alternativ-color: #40eb26;
$accent-three-color: #5e9e54;
$background-color: #2a209e;
$background-alternative-color: #8c83eb;

$font-one: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
