$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #eb7e3b;
$accent-alternativ-color: #40eb26;
$accent-three-color: #5e9e54;
$background-color: #2a209e;
$background-alternative-color: #8c83eb;
